certifi==2017.7.27.1
chardet==3.0.4
dataconverters==0.3
decorator==4.1.2
enum34==1.1.6
html5lib==0.999999999
idna==2.6
joblib
ipython-genutils==0.2.0
json-table-schema==0.2.1
jsonschema==2.6.0
jupyter-core==4.4.0
lxml==4.0.0
messytables==0.15.2
nbformat==4.4.0
nose==1.3.7
numpy==1.13.3
pandas==0.20.3
pandas-market-calendars==0.9
prometheus_client==0.0.21
plotly==2.2.1
python-dateutil==2.6.1
python-magic==0.4.13
pytz==2017.2
requests==2.18.4
six==1.11.0
sphinx==1.6.5
toolz==0.8.2
traitlets==4.3.2
unicodecsv==0.14.1
urllib3==1.22
webencodings==0.5.1
xlrd==1.1.0
